<div class="banner">
  <div class="banner-text">
    <h1>Contact Me</h1>
    <p id="tag-line">Want to connect? Talk about a new project?</p>
  </div>
</div>

<div class="form_container text-area main-body">
  <form action="/contact" method="post">
    <h3>Send me a message</h3>

    <div>
      <input type="text" id="name" name="name" placeholder="Name"/>
    </div>

    <div>
      <input type="email" id="email" name="email" placeholder="Email Address"/>
    </div>

    <div>
      <textarea rows="5" cols="20" type="text" id="content" name="content" placeholder="Message"></textarea>
    </div>

    <% if params['error'] %>
      <div class="error"><%= params['error']%></div>
    <% end %>

    <div class="button">
        <button type="submit">Send your message</button>
    </div>

  </form>
</div>

