<h1>This is the contact page</h1>
<div class="form_container">

  <form action="/thankyou" method="post">
    <h3>Send me a message</h3>

    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" />
      <!-- <input type="text" id="submittion_title" name="title"> -->
    </div>

    <div>
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" />
    </div>

    <div>
      <label for="content">Message:</label>
      <textarea rows="5" cols="20" type="text" id="content" name="content" ></textarea>
    </div>

    <div class="button">
        <button type="submit">Send your message</button>
    </div>

  </form>
</div>
