<div class="banner">
  <div class="text-area">
    <h1>Nicholas Terrafranca</h1>
    <p id="tag-line">Full stack Rails developer, recovering professional chef and lifelong student of all things science and technology.</p>
  </div>
</div>

<div class="text-area">
  <div class="main-body">

    <h3>About</h3>
    <p>I live in Cambridge with my wife and two awesome dogs. I have been a technology enthusiast my entire life. From a young age I had two primary passions in life: technology and food. I grew up on a small farm in West Virginia, and partly due to my upbringing, I decided to pursue a career as a chef. I was very good at it. I held the position of Executive Chef at a number of highly regarded Boston establishments. During this time I was invited to cook at the prestigious <a href="http://www.jamesbeard.org " target="_blank">James Beard</a> House in NYC and was voted by my peers as one of Boston's <a href="http://stuffboston.com/2007/11/16/worth-their-salt-local-veteran-chefs-choose-their-favorite-young-guns#.U6TCXRbyDwI" target="_blank">“Top 5 Up and Coming Chefs”</a> by Boston’s Stuff Magazine. What I loved about the culinary arts is the need to continue learning and improving one’s skills, it also conditions a person to be both artistically creative and and strategically analytical. There are a few drawbacks to working as a chef however, so in the spring of 2014 I decided to start teaching myself web development. I fell in love, quit my job and enrolled in a Boston Ruby on Rails boot-camp called <a href="http://www.launchacademy.com/program" target="_blank">Launch Academy</a>. If you like, you can read my blog about <a href="http://nterrafranca.tumblr.com" target="_blank">my experience there.</a></p>
    <p>
      When I am not colaborating on a number of Rails projects I am cooking, experimenting with food and technology and brewing beer.
    </p>
    <br>

    <h3>Projects</h3>
    <p><a href="">nterrafranca.com</a><br> This site you are looking at is a simple Sinatra application built with very little framework "magic". No Foundation, no Bootstrap. I wanted to get back to the nitty-gritty and write good old fashioned Ruby, JavaScript, HTML and CSS. With a little help from PostgreSql and a lightweight email solution called Pony, this app will continue growing iteratively develop new features and content.<a href=""> View Code</a></p>

    <p><a href="http://uberchef.herokuapp.com" target="_blank"> UberChef</a><br>This MVP stage Rail application allows the user to connect with professional chefs for any number of culinary endeavors. After the user posts an event, chefs can then browse, search for and bid on events of their choice. The app also features a user-to-user messaging feature to facilitate direct communication for detailed bid negotiation. This app was prototyped while attending Launch Academy and continues to be a sandbox for new ideas and features.<a href="https://github.com/NickTerrafranca/uberchef" target="_blank"> View Code</a></p>

    <p><a href="http://fizzbuzzapp.herokuapp.com" target="_blank">FizzBuzz</a><br>This is a beer brewery review site worked while attending Launch Academy. As part of a small development team, I worked on the user authentication, schema design, Admin name-spacing and front-end design. This Ruby on Rail application made use of a brewery data API and gems like Devise, CarrierWave, ActionMailer and Bootstrap. The development of this app was fully test driven.<a href="https://github.com/LaunchAcademy/fizz_buzz" target="_blank"> View Code</a></p>
  </div>
</div>
