<div class="banner">
  <div class="banner-text">
    <h1>Tools + Resources</h1>
    <p id="tag-line">These are some of the development tools I like to use. I will be updating these as time permits.</p>
  </div>
</div>

<div class="text-area">
  <div class="main-body">
    <ul class="mobile-text">
      <li><p><a href="http://www.strfti.me"> Strftime reference and sandbox</a> - Format dates and times in Ruby, Python, C & PHP with strftime.</p></li>
      <li><p><a href="http://rubular.com"> Rubular</a> - This Ruby regular expression editor is great for hashing out regex solutions.</p></li>
      <li><p><a href="https://scotch.io/bar-talk/git-cheat-sheet">Git cheat sheet</a> - I am a big fan of quick lookups and cheat sheets.</p></li>
      <li><p><a href="https://color.adobe.com/create/color-wheel/">Kuler</a> - A great tool for playing with color combinations.</p></li>
      <li><p><a href="http://subtlepatterns.com">Subtle Patterns</a> - Really great selection of tilable textured patterns, great for backgrounds and it is free.</p></li>
      <li><p><a href="http://gridulator.com">Gridulator!</a> - Make pixel grids, lickety-split.</p></li>
      <li><p><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> - The iconic font and CSS toolkit, I don't often use this but it's worth a mention.</p></li>
      <li><p><a href="http://css-tricks.com/examples/ButtonMaker/">Button Maker</a> - A nice little sandbox for buttons.</p></li>
      <li><p><a href="http://css-tricks.com">CSS Tricks</a> - A great collection of code snippets and sandboxes by the folks at TreeHouse.</p></li>
      <li><p><a href="http://border-radius.com">Border Radius</a> - An interactive border radius sandbox.</p></li>
      <li><p><a href="http://validator.w3.org">W3C Markup Validator</a> - A decent Markup validator.</p></li>
      <li><p><a href="https://www.draw.io">draw.io</a> - This is a great diagramming tool for almost any need. From flowcharts to database relations</p></li>
      <li><p><a href="http://www.regexr.com">RegExer</a> - Another great regex tool.</p></li>
      <li><p><a href="http://www.jslint.com">JavaScript Linter</a> - A decent JavaScript linter, in case you don't like using the development console.</p></li>
      <li><p><a href="http://phoboslab.org/ztype/">Z-Type</a> - A fun game that will improve your typing skills.</p></li>
      <li><p><a href="http://thezunidiaries.com">The Zuni Diaries</a> - And Finally we have the story of a little dog that changed my life forever.</p></li>
    </ul>
  </div>
</div>
