html, body {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 15px 0px 15px 100px;
}

.text-area {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.banner {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #009BDF;
  color: white;
}

h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 80px;
  line-height: 100px;
  font-weight: 100;
}

#tag-line {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 3px;
}

.main-body {
  margin-top: 75px;
  margin-bottom: 100px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: .5px;
}

a {
  color: #0086CF;
  text-decoration: none;
}

a:visited {
    color: #0086CF;
}

a:hover {
    color: #FF5B00;
}

a:active {
    color: black;
    font-weight: bold;
}

#nav-bar-right {
    position: absolute;
    right: 100px;
}

#nav-bar-right * {
  margin: 10px;
}

#nav-bar-left * {
  margin: 10px;
}

.form_container {
  text-align: center;
}

.error {
  background-color: #FF0D46;
  border-radius: 11px;
}
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 3px solid #8A8A8A;
  border-radius: 1em;
  box-shadow: 5px 5px 5px #E6E6E6;
}

form div + div {
  margin-top: 2em;
}

label {
  display: none;
}

input, textarea {
  display: block;
  box-shadow: 3px 5px 5px #E6E6E6;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 1px solid #999;
  border-radius: 3px;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 10em;
  resize: vertical;
}

.button {
  text-align: center;

}
button {
  background: #009BDF;
  border-color: #009BDF;
  border-width: 0px;
  padding: 13px 26px;
  border-radius: 11px;
  color: white;
}
button:hover {
  background: #19B9FF;
}
